<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        Представление из Вью
    </h1>
    <hr />
    <p>
        Привет мир!
    </p>
    <hr />
    <a href="/home/readconfig">Config?</a>
</body>
</html>
