<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1><a href="/employee/getemployes">Сотрудники</a></h1>
</body>
</html>
